#Data Types and Structures Questions

1.  What are data structures, and why are they important?
    -   Data structures in Python are specialized formats for organizing, storing, and managing data efficiently within a Python program. They help in performing operations like insertion, deletion, searching, and sorting in an optimized way.
        
        Improtance of data structures-

        A- Different problems require different ways of organizing data, which data structures facilitate.

        B- Data structures are used in machine learning, web development, databases, artificial intelligence, and more.

        C- Choosing the right data structure enhances the speed and efficiency of algorithms.

        D- Many algorithms, such as sorting and searching, rely on data structures for optimal performance.


 2.  Explain the difference between mutable and immutable data types with
     examples.
     -       In Python, mutable and immutable data types determine whether an object can be modified after creation. Mutable data types can be changed after creation, while immutable data types cannot. Examples of Mutable data types include lists, dictionaries, and sets. Examples of Immutable data types include strings, tuples, numbers, booleans, null, and undefined.


  3. What are the main differences between lists and tuples in Python?
     - A - Lists are mutable but tuples are immutable

       B - The list is better for performing operations, such as insertion and deletion.Tuple data type is appropriate for accessing the elements.

       C - Lists consume more memory. Tuple consumes less memory as compared to the list

       D - Lists have several built-in methods. Tuple does not have many built-in methods.


 4. Describe how dictionaries store data.
    - Python dictionaries are implemented as hash tables:

 When a key is added, Python applies a hash function (hash()) to generate an integer (hash code). The hash code determines an index in an internal array (bucket). The key and its corresponding value are stored at the computed index.      

 5. Why might you use a set instead of a list in Python?
    - The Python sets are highly useful to efficiently remove duplicate values from a collection like a list and to perform common math operations like unions and intersections.

 6. What is a string in Python, and how is it different from a list?
    - A string is a sequence of characters between single or double quotes. Strings are immutable, meaning their values cannot be changed, while lists are mutable, meaning they can be changed.

 7.  How do tuples ensure data integrity in Python?
     - Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

 8. What is a hash table, and how does it relate to dictionaries in Python?
    - In Python, a hash table is a data structure that's implemented as a dictionary. The built-in dict() function in Python creates dictionaries
The keys in a dictionary are hashable, meaning they can be used to generate a unique index value.


9. Can lists contain different data types in Python?
   - Yes. list can contain different data types including strings, floats, and booleans.

          
10. Explain why strings are immutable in Python.
    - A - Python interns short and frequently used strings, meaning they are stored in a single memory location and reused to save memory.

      B - If strings were mutable, their hash values would change, making dictionary lookups unreliable.

      C - In some cases, immutability prevents accidental data manipulation

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries use hash tables, allowing O(1) time complexity for key lookups. Lists store individual values, but dictionaries map keys to values, making data more structured. Dictionaries allow descriptive keys, making the code more readable.Lists allow duplicates, while dictionaries overwrite duplicate keys, ensuring uniqueness.

12. Describe a scenario where using a tuple would be preferable over a list.
    - In a mapping application where we need to store latitude and longitude coordinates. These values should never change once they are set. In this scenario tuple would be preferable over a list.

13. How do sets handle duplicate values in Python?
    - In Python, the set data type does not allow duplicates. A set is an unordered collection of unique elements, and any element that is added to a set will only be added if it is not already present in the set.

14. How does the “in” keyword work differently for lists and dictionaries?
    - For lists, it uses a search algorithm. As the list gets longer, the search time gets longer in direct proportion. For dictionaries, Python uses an algorithm called a hashtable that has a remarkable property: the in operator takes about the same amount of time no matter how many items there are in a dictionary.

15. Can you modify the elements of a tuple? Explain why or why not.
    - the elements of a tuple cannot modified in Python because tuples are immutable.

16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary is a dictionary inside another dictionary. It allows hierarchical data storage, where each key can have another dictionary as its value. Example- A company might store employee data using a nested dictionary for better organization.

17. Describe the time complexity of accessing elements in a dictionary.
    - The time complexity of accessing an element in a dictionary is O(1) on average. Python dictionaries use hash tables, making access to elements fast and efficient. Average Case O(1) → Dictionary lookups are constant time because keys are hashed, allowing direct access. Worst Case O(n) → In rare cases, hash collisions may occur, requiring a search through multiple values at the same index.

18. In what situations are lists preferred over dictionaries?
    - For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
   - Dictionaries are considered unordered because they do not maintain any inherent order of their key-value pairs when storing data, meaning the sequence in which you added items is not guaranteed to be the same when you retrieve them. This prioritizes fast access to data based on the unique "key" rather than the position in the collection, making data retrieval efficient for lookups but potentially unpredictable when iterating through the dictionary in a specific order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
     - In Python, lists and dictionaries differ significantly in terms of data retrieval. A list is an ordered collection where elements are accessed using index positions list. This allows for fast retrieval when using an index, but searching for a specific value without knowing its index takes O(n) time since the entire list may need to be scanned. On the other hand, a dictionary is an unordered collection that stores data in key-value pairs, enabling fast lookups using a hash table. Unlike lists, dictionaries do not support index-based access, meaning elements must be retrieved using their unique keys. Overall, lists are preferable when sequential access or indexed retrieval is required, while dictionaries are ideal for scenarios requiring quick lookups, unique key-value mappings, and structured data storage.

#Practical Questions

1. Write a code to create a string with your name and print it.

In [ ]:
my_name = "Souvik"

print("My name is:", my_name)

My name is: Souvik

2. Write a code to find the length of the string "Hello World".

In [ ]:
text = "Hello World"
length = len(text)
print("Length of the string:", length)

Length of the string: 11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
text = "Python Programming"

sliced_text = text[:3]

print("Sliced string:", sliced_text)

Sliced string: Pyt

4.  Write a code to convert the string "hello" to uppercase.

In [ ]:
text = "hello"

uppercase_text = text.upper()

print("Uppercase string:", uppercase_text)

Uppercase string: HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
text = "I like apple"

new_text = text.replace("apple", "orange")

print(new_text)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1, 2, 3, 4, 5]

print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
numbers = [1, 2, 3, 4]

numbers.append(10)

print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
numbers = [1, 2, 3, 4, 5]

numbers.remove(3)

print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
letters = ['a', 'b', 'c', 'd']

second_element = letters[1]

print("Second element:", second_element)

Second element: b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
numbers = [10, 20, 30, 40, 50]

numbers.reverse()

print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100, 200, 300)

print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')

second_last = colors[-2]

print("Second-to-last element:", second_last)

Second-to-last element: blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [ ]:
numbers = (10, 20, 5, 15)

min_number = min(numbers)

print("Minimum number:", min_number)

Minimum number: 5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animals = ('dog', 'cat', 'rabbit')

index = animals.index('cat')

print("Index of 'cat':", index)

Index of 'cat': 1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ('apple', 'banana', 'orange')

if 'kiwi' in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a','b','c'}

print(my_set)

{'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set = {1, 2, 3, 4, 5}

my_set.clear()

print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}

my_set.remove(4)

print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)

print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)

print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
person = {
    "name": "Souvik",
    "age": 21,
    "city": "Kolkata"
}

print("Dictionary:", person)

Dictionary: {'name': 'Souvik', 'age': 21, 'city': 'Kolkata'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
person = {'name': 'John', 'age': 25}

person['country'] = 'USA'

print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
person = {'name': 'Alice', 'age': 30}

name_value = person['name']

print(name_value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

del person['age']

print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1, 2, 3]

my_tuple = ('apple', 'banana', 'cherry')

my_dict = {'name': 'Souvik', 'age': 21, 'city': 'kolkata'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Souvik', 'age': 21, 'city': 'kolkata'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
random_numbers = random.sample(range(1, 101), 5)

random_numbers.sort()

print("Sorted random numbers:", random_numbers)

Sorted random numbers: [7, 42, 47, 63, 78]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

print(fruits[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1, **dict2}

print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [ ]:
fruits = ["apple", "banana", "cherry", "apple", "banana"]

fruit_set = set(fruits)

print("Set:", fruit_set)

Set: {'apple', 'cherry', 'banana'}